<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>WFWorkflowMinimumClientVersionString</key>
  <string>900</string>
  <key>WFWorkflowMinimumClientVersion</key>
  <integer>900</integer>
  <key>WFWorkflowClientVersion</key>
  <string>4046.0.2.1.102</string>
  <key>WFWorkflowIcon</key>
  <dict>
    <key>WFWorkflowIconStartColor</key>
    <integer>2071128575</integer>
    <key>WFWorkflowIconGlyphNumber</key>
    <integer>61440</integer>
  </dict>
  <key>WFWorkflowActions</key>
  <array>
    <dict>
      <key>WFWorkflowActionIdentifier</key>
      <string>com.jkcoxson.LocalDevVPN.StopLocalDevVPNIntent</string>
      <key>WFWorkflowActionParameters</key>
      <dict>
        <key>AppIntentDescriptor</key>
        <dict>
          <key>TeamIdentifier</key>
          <string>42Q7QX86GV</string>
          <key>BundleIdentifier</key>
          <string>com.jkcoxson.LocalDevVPN</string>
          <key>Name</key>
          <string>LocalDevVPN</string>
          <key>AppIntentIdentifier</key>
          <string>StopLocalDevVPNIntent</string>
        </dict>
        <key>UUID</key>
        <string>AB2D9F1F-5BDA-48D7-AC79-F8E61C984807</string>
      </dict>
    </dict>
    <dict>
      <key>WFWorkflowActionIdentifier</key>
      <string>is.workflow.actions.delay</string>
      <key>WFWorkflowActionParameters</key>
      <dict>
        <key>WFDelayTime</key>
        <real>5</real>
      </dict>
    </dict>
    <dict>
      <key>WFWorkflowActionIdentifier</key>
      <string>is.workflow.actions.vpn.set</string>
      <key>WFWorkflowActionParameters</key>
      <dict>
        <key>WFVPN</key>
        <dict>
          <key>title</key>
          <string>LocalDevVPN</string>
          <key>appDescriptor</key>
          <dict>
            <key>BundleIdentifier</key>
            <string>com.jkcoxson.LocalDevVPN</string>
            <key>Name</key>
            <string>LocalDevVPN</string>
            <key>TeamIdentifier</key>
            <string>42Q7QX86GV</string>
          </dict>
          <key>identifier</key>
          <string>SELECT-LOCALDEVVPN-DURING-IMPORT</string>
        </dict>
        <key>UUID</key>
        <string>8F69759D-DDF5-4B29-816B-47602394A3C4</string>
      </dict>
    </dict>
    <dict>
      <key>WFWorkflowActionIdentifier</key>
      <string>is.workflow.actions.delay</string>
      <key>WFWorkflowActionParameters</key>
      <dict>
        <key>WFDelayTime</key>
        <real>10</real>
      </dict>
    </dict>
    <dict>
      <key>WFWorkflowActionIdentifier</key>
      <string>com.kdt.livecontainer.W2KX57LBHW.RefreshAllIntent</string>
      <key>WFWorkflowActionParameters</key>
      <dict>
        <key>AppIntentDescriptor</key>
        <dict>
          <key>TeamIdentifier</key>
          <string>W2KX57LBHW</string>
          <key>BundleIdentifier</key>
          <string>com.kdt.livecontainer.W2KX57LBHW</string>
          <key>Name</key>
          <string>LiveContainer</string>
          <key>AppIntentIdentifier</key>
          <string>RefreshAllIntent</string>
        </dict>
        <key>UUID</key>
        <string>5A273319-5654-4E39-82DC-83B1E893CA82</string>
        <key>ShowWhenRun</key>
        <false/>
      </dict>
    </dict>
    <dict>
      <key>WFWorkflowActionIdentifier</key>
      <string>is.workflow.actions.delay</string>
      <key>WFWorkflowActionParameters</key>
      <dict>
        <key>WFDelayTime</key>
        <real>60</real>
      </dict>
    </dict>
    <dict>
      <key>WFWorkflowActionIdentifier</key>
      <string>com.jkcoxson.LocalDevVPN.StopLocalDevVPNIntent</string>
      <key>WFWorkflowActionParameters</key>
      <dict>
        <key>AppIntentDescriptor</key>
        <dict>
          <key>TeamIdentifier</key>
          <string>42Q7QX86GV</string>
          <key>BundleIdentifier</key>
          <string>com.jkcoxson.LocalDevVPN</string>
          <key>Name</key>
          <string>LocalDevVPN</string>
          <key>AppIntentIdentifier</key>
          <string>StopLocalDevVPNIntent</string>
        </dict>
        <key>UUID</key>
        <string>D5B22CEE-F81A-40C8-93E5-A5FF02B16921</string>
      </dict>
    </dict>
  </array>
  <key>WFWorkflowImportQuestions</key>
  <array>
    <dict>
      <key>ActionIndex</key>
      <integer>2</integer>
      <key>Category</key>
      <string>Parameter</string>
      <key>ParameterKey</key>
      <string>WFVPN</string>
      <key>Text</key>
      <string>Select your LocalDevVPN configuration.</string>
    </dict>
  </array>
  <key>WFWorkflowHasOutputFallback</key>
  <false/>
  <key>WFWorkflowOutputContentItemClasses</key>
  <array/>
  <key>WFWorkflowInputContentItemClasses</key>
  <array>
    <string>WFAppContentItem</string>
    <string>WFAppStoreAppContentItem</string>
    <string>WFArticleContentItem</string>
    <string>WFContactContentItem</string>
    <string>WFDateContentItem</string>
    <string>WFEmailAddressContentItem</string>
    <string>WFFolderContentItem</string>
    <string>WFGenericFileContentItem</string>
    <string>WFImageContentItem</string>
    <string>WFiTunesProductContentItem</string>
    <string>WFLocationContentItem</string>
    <string>WFDCMapsLinkContentItem</string>
    <string>WFAVAssetContentItem</string>
    <string>WFPDFContentItem</string>
    <string>WFPhoneNumberContentItem</string>
    <string>WFRichTextContentItem</string>
    <string>WFSafariWebPageContentItem</string>
    <string>WFStringContentItem</string>
    <string>WFURLContentItem</string>
  </array>
  <key>WFWorkflowTypes</key>
  <array>
    <string>WFWorkflowTypeShowInSearch</string>
  </array>
  <key>WFQuickActionSurfaces</key>
  <array/>
  <key>WFWorkflowHasShortcutInputVariables</key>
  <false/>
</dict>
</plist>
